.spotify {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000;
  height: 100vh;
  gap: 20px;
  padding: 20px;
}

.spotify h1 {
  font-size: 2.5rem;
}

.spotify p {
  font-size: 1.5rem;
}
